*.py[cod]
/.idea
/rgundeals/rgundeals/configuration.py
/*.sh
*.iml
pip-log.txt

# Some defaults on django
*.log
local_settings.py

# Default DB Stuff
db.sqlite3

# ENV stuff
.env

# celery beat schedule file
celerybeat-schedule

# virtualenv
.venv
venv/
ENV/

# VS Code
.vscode/