{% load usertags %}

<li class="comment" id="comment{{ node.pk }}">
    <div class="vote-toggle">
        <div class="upvote">
            {% if user.is_authenticated %}
                {% if node.vote == 1 %}
                    <a href="{% url 'deals:comment_vote' pk=node.pk action='delete' %}" data-object="comment" data-object-id="{{ node.pk }}" class="upvote voted">
                {% else %}
                    <a href="{% url 'deals:comment_vote' pk=node.pk action='up' %}" data-object="comment" data-object-id="{{ node.pk }}" class="upvote">
                {% endif %}
                    <i class="fa fa-chevron-up"></i>
                </a>
            {% endif %}
        </div>
    <div class="downvote">
        {% if user.is_authenticated %}
            {% if node.vote == -1 %}
                <a href="{% url 'deals:comment_vote' pk=node.pk action='delete' %}" data-object="comment" data-object-id="{{ node.pk }}" class="downvote voted">
            {% else %}
                <a href="{% url 'deals:comment_vote' pk=node.pk action='down' %}" data-object="comment" data-object-id="{{ node.pk }}" class="downvote">
            {% endif %}
                <i class="fa fa-chevron-down"></i>
            </a>
        {% endif %}
    </div>
    </div>
    <div class="heading">
        <small class="text-muted">
            <strong>{% usertag node.created_by %}</strong>
            <span class="score">{{ node.score }}</span> point{{ node.score|pluralize }}
            {{ node.created|timesince }} ago
        </small>
    </div>
    <div class="body">
        {{ node.body_rendered|safe }}
    </div>
    <ul class="list-inline links">
        <li class="list-inline-item text-muted">
            <small>
                <i class="fa fa-reply"></i>
                <a href="#" class="comment-reply" data-comment-id="{{ node.pk }}">reply</a>
            </small>
        </li>
        <li class="list-inline-item text-muted">
            <small>
                <i class="fa fa-warning"></i>
                report
            </small>
        </li>
    </ul>
    {% if not node.is_leaf_node %}
        <ul class="list-unstyled comments">
            {{ children }}
        </ul>
    {% endif %}
</li>
